@model IEnumerable<forum.Models.User>

@{
    ViewBag.Title = "users";
}

<h2>users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        
       
        
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistDate)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
       <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
       
        
        
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistDate)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.RoleID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "sabt" })
        </td>
    </tr>
}

</table>
 @for(int count=1;count<=Convert.ToInt32(ViewData["count"]);++count){
  <a href="~/user/index/@count">    <div class="pagenumber"> @count</div></a>
        
    }
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $(".sabt").click(function (e) {
            var answer = confirm("are you sure?")
            if (answer) {
            }
            else
                
                e.preventDefault()

        });

    });
</script>



    }
